<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.mdinteractivo.AirTests"
    version   = "1">

<name>Test windows Phone</name>
 
<preference name="phonegap-version" value="2.9.0" />
<preference name="target-device" value="handset" />

<preference name="fullscreen" value="false" />
<preference name="show-splash-screen-spinner" value="false" />
<preference name="auto-hide-splash-screen" value="true" />

<preference name="webviewbounce" value="false" />
<preference name="orientation" value="portrait" />
<preference name="EnableViewportScale" value="true" />

<description>
	test windows phone
</description>

<access origin="*" />


<icon src="img/iconos/ios/icono_57x57.png" gap:platform="winphone" />
<icon src="img/iconos/ios/icono_144x144.png" gap:platform="winphone" gap:role="background" />

<gap:splash src="img/splash/splash.png" gap:platform="winphone" />

<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/media"/>


</widget>
